h1 {
  text-align: center;
}
.desc {
  margin: 20px;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 70%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  padding: 10px;
  color: brown;
  text-decoration: none;
  background-color: rgb(214, 137, 152);
  border: 2px solid brown;
}
.gallery {
  padding: 10px;
  color: brown;
  text-decoration: none;
  background-color: rgb(205, 123, 85);
  border: 2px solid brown;
}
.home {
  padding: 10px;
  color: rgb(165, 42, 52);
  text-decoration: none;
  background-color: rgb(191, 119, 85);
  border: 2px solid brown;
}
h2 {
  -webkit-text-stroke: 2px black;
  color: rgb(155, 99, 57);
  text-align: center;
  font-size: 30px;
}
.contact-us {
  margin-top: 40px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
