body {
  background-color: tan;
}
nav {
  margin-top: 25px;
  margin-bottom: 30px;
}
h1 {
  text-align: center;
}
.desc {
  margin: 20px;
  line-height: 1.5;
  font-size: 30px;
}

.croissant-pic {
  display: block;
  max-width: 70%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.contact {
  padding: 10px;
  color: brown;
  text-decoration: none;
  background-color: rgb(214, 137, 152);
  border: 2px solid brown;
}
.gallery {
  padding: 10px;
  color: brown;
  text-decoration: none;
  background-color: rgb(205, 123, 85);
  border: 2px solid brown;
}
.home {
  padding: 10px;
  color: rgb(165, 42, 52);
  text-decoration: none;
  background-color: rgb(191, 119, 85);
  border: 2px solid brown;
}

.contact-us {
  margin-top: 40px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 30px;
}
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.greyhound-croissant {
  display: block;
  margin: 0 auto;
  width: 8em;
  height: 12em;
  border-radius: 5px;
}
div a {
  text-decoration: none;
  color: brown;
  padding: 10px;
  margin-bottom: 2px;
  background-color: rgb(205, 151, 112);
  border: 1px solid brown;
}
.email {
  -webkit-text-stroke: 2px black;
  color: rgb(155, 99, 57);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.email:hover {
  background-color: rgb(205, 123, 85);
}

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }

  .desc {
    padding: 0 20px;
    font-size: 18px;
  }

  .greyhound-croissant {
    width: 80%;
    height: auto;
  }
}

@media (max-width: 480px) {
  body {
    text-align: center;
  }
  h1 {
    font-size: 24px;
  }

  .desc {
    font-size: 16px;
    line-height: 1.5;
  }

  .greyhound-croissant {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    border-radius: 10px;
  }
  .contact,
  .gallery {
    display: block;
  }
}
